<header class="text-gray-600 body-font xl:shadow-md">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="{{localhost}}{{websiteLogo}}" alt="" class="object-contain w-9 h-9">
      <span class="ml-3 text-xl">{{websiteName}}</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" *ngFor="let item of headerComponent?.attributes?.header_links" routerLink="{{item.link}}"><button class="p-2 hover:border hover:bg-sky-500 hover:text-white rounded-md">{{item.name}}</button></a>
      <!-- <a class="mr-5 hover:text-gray-900" routerLink="/about-us"><button class="p-2 hover:border hover:bg-sky-500 hover:text-white rounded-md">About Us</button></a>
      <a class="mr-5 hover:text-gray-900" routerLink="/gallery"><button class="p-2 hover:border hover:bg-sky-500 hover:text-white rounded-md">Gallery</button></a>
      <a class="mr-5 hover:text-gray-900" routerLink="/our-team"><button class="p-2 hover:border hover:bg-sky-500 hover:text-white rounded-md">Our Team</button></a>
      <a class="mr-5 hover:text-gray-900" routerLink="/contact-us"><button class="p-2 hover:border hover:bg-sky-500 hover:text-white rounded-md">Contact Us</button></a> -->

    </nav>
    <div *ngIf="isUserAuthenticated; else other">
      <button class="inline-flex items-center bg-green-500 text-white border-0 p-3 focus:outline-none hover:bg-green-600 rounded text-base mt-4 md:mt-0 mr-3 hover:text-white" (click)="navigateTo()" >Dashboard
      </button>
      <button class="inline-flex items-center bg-rose-500 text-white border-0 p-3 focus:outline-none hover:bg-rose-600 rounded text-base mt-4 md:mt-0 mr-3 hover:text-white" (click)="logout()" >Logout
      </button>
    </div>

    <ng-template #other>
      <button class="inline-flex items-center bg-indigo-500 text-white border-0 p-3 focus:outline-none hover:bg-indigo-600 rounded text-base mt-4 md:mt-0 mr-3 hover:text-white" routerLink="/sign-up">Sign Up
      </button>
  
      <button class="inline-flex items-center bg-red-500 text-white border-0 p-3 focus:outline-none hover:bg-red-600 rounded text-base mt-4 md:mt-0 hover:text-white mr-3" routerLink="/sign-in">Login
      </button>

    </ng-template>

  </div>
</header>

<router-outlet></router-outlet>

<footer class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="{{localhost}}{{websiteLogo}}" alt="" class="object-contain w-9 h-9">
        <span class="ml-3 text-xl">{{websiteName}}</span>
      </a>
      <p class="mt-2 text-sm text-gray-500">{{footerComponent?.attributes?.tagline}}</p>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4" *ngFor="let item of footerComponent?.attributes?.footer_links">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">{{item.heading}}</h2>
        <nav class="list-none mb-10">
          <li *ngFor="let link of item.links">
            <a class="text-gray-600 hover:text-gray-800">{{link.link}}</a>
          </li>

        </nav>
      </div>

    </div>
  </div>
  <div class="bg-gray-100">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-500 text-sm text-center sm:text-left">{{footerComponent?.attributes?.copyright}}
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-500" *ngFor="let item of footerComponent?.attributes?.icons">
          <img src="{{localhost}}{{item.icon.data.attributes.url}}" alt="" class="w-5 h-5 ml-2">
        </a>

      </span>
    </div>
  </div>
</footer>